html,
body{
margin:0;
height:100%;
}

body{

height:100dvh;

padding-bottom:
env(
safe-area-inset-bottom
);

background:
linear-gradient(
180deg,
#060606,
#101010
);

color:white;

font-family:
-apple-system;

overflow:hidden;

}

.page{

display:none;

height:
100%;

padding:18px;

}

.active{
display:flex;
flex-direction:column;
gap:12px;
}

input,
button{

padding:16px;

border:none;

border-radius:18px;

font-size:16px;

}

input{

background:#171717;

color:white;

}

button{

background:
linear-gradient(
135deg,
#0A84FF,
#4F46E5
);

color:white;

}

.grid{

display:grid;

grid-template-columns:
1fr
1fr;

gap:12px;

overflow:auto;

}

.game{

height:120px;

}

.bear{

font-size:90px;

animation:
dance
1s
infinite;

}

@keyframes dance{

0%{
transform:
rotate(-8deg)
}

50%{
transform:
rotate(8deg)
translateY(-10px)
}

100%{
transform:
rotate(-8deg)
}

}
